[submodule "ManiaLabs__"]
	path = ManiaLabs.Common
	url = https://jcoliz.visualstudio.com/DefaultCollection/_git/ManiaLabs.Common
[submodule "automation-hat-ms-iot"]
	path = IotFrosting
	url = https://github.com/jcoliz/automation-hat-ms-iot.git
[submodule "Catnap.Server"]
	path = Catnap.Server
	url = https://github.com/jcoliz/Catnap.Server.git
